@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

html, body, #root, .main-app {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}